
body {
	background-image: var(--bg-pic, url(PIA17005.jpg));
	background-size: cover;
	background-color: #eee;
}

.imageButtons{
	float: right;
	margin-top: 0px;
}

h4 {
	font-size: 0.7rem;
}

p {
	color: black;
	font-size: 0.7rem;
}


.container{
	height: 100vh;
	width: 350px;
	margin-left: 0px;
}

.col {
	background-color: rgba(255, 255, 255, 0.5);
	height: 50vh;
	overflow-y: auto;
	overflow-x: hidden;
	border-bottom: 1px solid #666;
}

.title,
header {
	width: 320px;
	margin-left: 0;
	position: fixed;
}

.feed{
	padding-top: 35px;
}

.logo {
	width: 120px;
	padding: 10px;
	position: fixed;
}

.listName {
	padding-left: 115px;
	padding-top: 3px;
}

section{
	padding-top: 40px;
	position: fixed;
}

main {
	width: 350px;
	margin-top: 200px;
}

article {
	display: flex;
	align-items: center;
	padding: 8px 12px;
	border-radius: 8px;
	&:hover {
		border: 2px solid #ff9999;
	}
}

.thumb {
	height: 50px;
	border-radius: 4px;
}

.details {
	padding: 8px 22px;
}

.jumbotron{
	display: none;
	width: 50%;
	text-align: center;
	margin-left: 400px;
	margin-top: -40vh;
	background-color: rgba(200,200,200, 0.25);
    border-radius: 25%;
}